---
// DocsTableOfContents component - Table of contents for help articles
---

<div class="sticky top-14.25 max-h-[calc(100dvh-(var(--spacing)*14.25))] overflow-y-auto p-6">
  <h3 class="text-sm/6 font-semibold text-gray-950 dark:text-white">On this page</h3>
  <ul class="mt-4 space-y-3 border-l border-gray-950/5 dark:border-white/10">
    <slot />
  </ul>
</div>
